 # **1. Numbers**  
## **A. Integer**  
- Used to store whole numbers without any decimal points.  
- Example:  
  ```python
  age = 30  # Integer  
  print(type(age))  # Output: <class 'int'>

In [3]:
age = 25

In [4]:
print(age)

25

In [5]:
print(type(age))

<class 'int'>


# **B. Float**  
 - Used to store numbers that have decimal points or fractions.  
 - Example:
   ```python
   pi = 3.14  # Float  
   print(type(pi))  # Output: <class 'float'>

In [7]:
pi = 3.18

In [8]:
print(pi)

3.18

In [9]:
print(type(pi))

<class 'float'>

# **2. String**  
 - Used to store sequences of characters (text).  
 - Example: 
   ```python
    name = "Alice"  # String  
    print(type(name))  # Output: <class 'str'>

In [10]:
name = "Abdullah"

In [11]:
print(name)

Abdullah

In [12]:
print(type(name))

<class 'str'>


# **3. Boolean**  
 - Used to store logical values: either True or False.  
 - Example:  
   ```python  
    is_student = True  # Boolean  
    print(type(is_student))  # Output: <class 'bool'>

In [13]:
is_stud = True

In [14]:
print(type(is_stud))

<class 'bool'>

# **4. List**  
 - Used to store a collection of values in a specific order.  
 - Example:
   ```python
    fruits = ["Apple", "Banana", "Cherry"]  # List  
    print(type(fruits))  # Output: <class 'list'>

In [15]:
fruits = ["Apple" , "Banana", "Cherry"]

In [16]:
print(type(fruits))

<class 'list'>

# **5. Dictionary**  
 - Used to store data in a key-value pair format.  
 - Example:
   ```python
    person = {"name": "John", "age": 30}  # Dictionary  
    print(type(person))  # Output: <class 'dict'>

In [20]:
cv = {"name": 'fatma' ,"age": 20 }

In [21]:
print(type(cv))

<class 'dict'>

# **6. Set**  
 - Used to store unique values with no duplicates.  
 - Example:
   ```python
    unique_numbers = {1, 2, 3, 3, 4}  # Set  
    print(unique_numbers)  # Output: {1, 2, 3, 4}

In [22]:
unique_numbers = {1, 2, 3, 3, 4}

In [23]:
print(type(unique_numbers))

<class 'set'>

# **7. Tuple**  
 - Used to store an ordered collection of values that cannot be modified.  
 - Example: 
   ```python
    dimensions = (1920, 1080)  # Tuple  
    print(type(dimensions))  # Output: <class 'tuple'>

In [24]:
dimensions = (1920, 1080)

In [25]:
print(type(dimensions))

<class 'tuple'>

# **8. NoneType**  
 - Represents a null or empty value.  
 - Example:
   ```python
    result = None  # NoneType  
    print(type(result))  # Output: <class 'NoneType'>

In [26]:
result = None

In [27]:
print(type(result))

<class 'NoneType'>

# 1. Headings

# Main Heading (H1)
## Subheading (H2)
### Smaller Subheading (H3)
#### Even Smaller Subheading (H4)
##### Very Small Heading (H5)
###### Smallest Heading (H6)

# 2. Bold Text

**This is bold text**
__This is also bold text__

message = "**Hello World**"  # Bold text
print(message)

# 3. Italic Text

*This is italic text*
_This is also italic text_

message = "*Hello World*"  # Italic text
print(message)

# 4. Bold and Italic Text

***This is bold and italic text***
___This is also bold and italic text___

message = "***Hello World***"  # Bold and italic text
print(message)

# 5. Strikethrough Text

~~This is strikethrough text~~

message = "~~Hello World~~"  # Strikethrough text
print(message)

# 6. Lists

- Item 1
* Item 2
+ Item 3

items = ["Item 1", "Item 2", "Item 3"]  # Unordered list
print(items)

- Ordered Lists: Use numbers followed by a period to create ordered lists.

1. Item 1
2. Item 2
3. Item 3

items = [1, 2, 3]  # Ordered list
print(items)

# 7. Links

[Visit Example Website](https://www.example.com)

link = "[Visit Example Website](https://www.example.com)"  # Link
print(link)

# 8. Images

![Alt text](https://www.example.com/image.jpg)

image = "![Alt text](https://www.example.com/image.jpg)"  # Image
print(image)

# 9. Inline Code

`print("Hello World")`  # Inline code

code = "`print('Hello World')`"  # Inline code
print(code)

# 10. Code Block

- For multiple lines of code, use triple backticks to define a block of code.

code_block = '''
print("Hello World")
'''  # Code block
print(code_block)

# 11. Blockquotes

- Used to indicate a quoted section of text with >.

> This is a blockquote.

quote = "> This is a blockquote."  # Blockquote
print(quote)

# 12. Horizontal Rule

---
***
___

divider = "---"  # Horizontal rule
print(divider)

# 13. Tables

- Tables can be created using | to separate columns and - to create borders.

| Name   | Age |
|--------|-----|
| Abdo   | 30  |
| Aliaa  | 25  |

table = """
| Name   | Age |
|--------|-----|
| Abdo   | 30  |
| Aliaa  | 25  |
"""  # Table
print(table)

# 14. Comments

- This is a hidden comment
> This is another comment

comment = "- This is a hidden comment"  # Comment
print(comment)

# 15. Reference Links

- You can add references using [text][id] and then define the reference elsewhere.

[Google]: https://www.google.com
[Visit Google](Google)

reference = "[Google]: https://www.google.com"  # Reference link
print(reference)